/* Переменные */
:root {
  --main-text-clr: #212121;
  --alt-text-clr: #757575;
  --accent-clr: #2196f3;
  --white-text: #ffffff;
  --black-text: #000000;
  --address-clr: rgba(255, 255, 255, 0.6);

  --main-bgr: #ffffff;
  --dark-bgr: #2f303a;
  --alt-bgr: #f5f4fa;
  --header-border-clr: #ececec;

  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

body {
  color: var(--main-text-clr);
  background-color: var(--main-bgr);
  font-family: var(--main-font);
  font-size: 14px;
}
img {
  display: block;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Фоны */

.dark-bgr {
  background-color: var(--dark-bgr);
}
.alt-bgr {
  background-color: var(--alt-bgr);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: var(--main-text-clr);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-clr);
}
.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* Лого */

.logo {
  margin-right: 93px;
  color: var(--black-text);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.accent {
  color: var(--accent-clr);
}

/*  Меню - Навигации */

.nav {
  display: flex;
  align-items: center;
}
.menu {
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}

/* Header */

.container.contacts-list {
  display: flex;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--header-border-clr);
}

.page-header .container {
  justify-content: space-between;
  display: flex;
}
.page-header .mail {
  margin-right: 50px;
}

.contacts {
  display: flex;
  align-items: center;
  color: var(--alt-text-clr);
}

/* Секция Hero */

.hero {
  padding: 200px 0;
  text-align: center;
}

/* Главный заголовок */

.page-title {
  margin-bottom: 30px;
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопка */

.btn {
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text);
  background-color: var(--accent-clr);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  /* В макете не указано */
}

/* Заголовки секций */

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Особенности */

.feature-section {
  padding-top: 94px;
}

.feature-list {
  display: flex;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-text {
  width: 270px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--alt-text-clr);
}

/* Чем мы занимаемся */

.section {
  padding: 94px 0;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}
.item {
  margin-right: 30px;
  margin-top: 30px;
}

/* Команда */

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 4 * 30px) / 4);
  text-align: center;
}

.name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.position {
  padding-bottom: 30px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--alt-text-clr);
}
.img {
  margin-bottom: 30px;
}

/* Подвал */

.footer {
  padding: 60px 0;
}

.footer-logo {
  margin-right: 0;
  color: var(--white-text);
}
.address {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-footer {
  color: var(--address-clr);
}

/* Portfolio страница */

.filter-btn {
  color: var(--main-text-clr);
  background-color: var(--alt-bgr);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-text);
  background-color: var(--accent-clr);
}
.brand-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter {
  line-height: 1.87;
}
